/*- Html elements -*/
html, body {
	margin: 0;
	padding: 0;
	background: #fff;
}

/*- Navbar -*/
nav {
	width: 100vw;
	height: 4rem;
	background: #fff;

	display: flex;
	flex-direction: row;
	position: relative;

	border-bottom: 1px solid #eee;
}nav > div:first-of-type {
	flex: 1;
}nav > div {
	box-sizing: border-box;
	padding: 1rem 2rem;

	display: flex;
	align-items: center;
}nav > div > * {
	margin: 0;
	padding: 0;
}

/*- Nav link -*/
nav > div > a.text-link {
	padding: 0.5rem 1rem;

	color: #000;
	border-bottom: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	position: relative;
}nav > div > a.text-link::after {
	content: "";
	display: block;
	width: 0;
	height: 1.5px;
	background: #000;
	transform: translateY(-0.1rem);

	transition: width 0.3s ease;
}nav > div > a.text-link:hover::after {
	width: 100%;
}

/*- Main container -*/
main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}main > .main {
	box-sizing: border-box;
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-template-rows: repeat(auto-fit, min(12rem));
	grid-gap: 1rem;
	padding: 1rem;

	flex: 1;
	overflow-y: scroll;
}

/*- Card -*/
main > .main > a { text-decoration: none; }
.card {
	border-radius: 0.1rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

	width: 100%;
	height: 100%;
	min-height: 12rem;
	position: relative;
	background: #f4f4f4;
	outline: 0.1rem solid #e3e3e3;

	box-sizing: border-box;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	padding-bottom: 0.2rem;

	transition: transform 0.05s ease;
}.card:hover {
	transform: scale(1.04);
	
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
	z-index: 4;
}.card > .text {
	flex: 1;
}.card > .text > h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;

	margin: 0;
	padding: 0;
	user-select: none;
	color: #222;
}.card > .text > p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 1rem;

	margin: 0;
	padding: 0;

	color: #aaa;
	user-select: none;
}.card > footer {
	width: 100%;
	height: 2rem;

	border-top: 0.1rem #e3e3e3 solid;
	display: flex;
	align-items: center;
}.card > footer > div {
	display: flex;
	flex-direction: row;
}.card > footer > div:hover {
	background: rgb(236, 236, 236);
	border-radius: 0.2rem;
	outline: 2px solid rgb(236, 236, 236);
}.card > footer > div > p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;

	margin: 0;
	padding: 0;

	color: #aaa;
	cursor:default;
}

/*- Classes -*/
.vertical-rule {
	width: 0.1rem;
	height: 60%;
	background: #e3e3e3;

	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.icon { all: unset; }
.icon-margin { margin-right: 0.25rem; }

/*- Toolbar -*/
.toolbar-positioner {
	width: 4rem;
	height: auto;
	position: absolute;
}.toolbar {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	background: #fff;

	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	box-sizing: border-box;
	padding: 0.5rem;

	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

	margin-left: 0.5rem;
	margin-top: 0.5rem;
}.toolbar > .toolbar-btn {
	width: 100%;
	aspect-ratio: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	cursor: pointer;

	background: #fff;
	border-radius: 0.5rem;
	border: 0.1rem solid #eee;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
	transition: background 0.04s ease;
}.toolbar > .toolbar-btn:hover {
	background: rgb(236, 236, 236);
}.toolbar > .toolbar-btn.active {
	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);

}.toolbar > .toolbar-btn > p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;

	margin: 0;
	padding: 0;

	color: #aaa;
	cursor:default;
}.toolbar > .toolbar-btn.behind {
	position: absolute;
	left: 4rem;
}

/*- Note items -*/
.item {
	width: min-content;
	height: min-content;

	background: #fff;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	border-radius: 0.75rem;
	border: 0.1rem solid #eee;

	left: 30rem;
	top: 20rem;
	position: absolute;

	box-sizing: border-box;
	padding: 0.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}.item > .note-body {
	border: none;
	width: 100%;
	height: 100%;

	border-radius: 0.2rem;
	box-sizing: border-box;
	padding: 0.4rem;

	min-width: 8rem;
	min-height: 5rem;

	resize: horizontal;
	max-width: 30rem;
	max-height: 30rem;
}.item > header {
	display: flex;
	flex-direction: row;

	justify-content: center;
}.item > header > .stack {
	display: inline-flex;
	flex-direction: column;
	gap: 0.1rem;

	box-sizing: border-box;
	padding: 0.4rem;
	padding-top: 0;

	cursor: grab;
}.item > header > .stack > div {
	width: 2rem;
	height: 0.1rem;

	background: #eee;
	border-radius: 0.1rem;
}.item > header > .actions {
	display: inline-flex;
	flex-direction: row;
	gap: 0.2rem;

	position: absolute;
	left: 0.4rem;
}.item > header > .actions > button {
	width: 0.6rem;
	height: 0.6rem;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: transform 0.1s ease-in-out;

	border: none;
	outline: none;
	display: block;
}.item > header > .actions > button:hover {
	transform: scale(1.2) rotate(32deg);
}.item > header > .actions > ._1 {
	background: rgb(237, 106, 95);
}.item > header > .actions > ._2 {
	background: rgb(245, 189, 79);
}.item > header > .actions > ._3 {
	background: rgb(97, 195, 84);
}.item > header > .actions > button:active {
	cursor: pointer;
	transform: scale(1) rotate(20deg);
}

/*- Contextmenu -*/
.contextmenu {
	width: 8rem;
	height: auto;

	position: absolute;

	display: inline-flex;
	flex-direction: column;
	align-items: center;

	box-sizing: border-box;
	padding: 0.5rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;

	background: #fff;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	border-radius: 0.75rem;
	border: 0.1rem solid #eee;

	z-index: 20;
}.contextmenu > .context-menu-item {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;

	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}.contextmenu > .context-menu-item > button.context-button {
	background: #fff;
	border: none;

	box-sizing: border-box;
	padding-left: 0.4rem;
	padding-right: 0.4rem;

	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;

	color: #aaa;
	width: 100%;
	text-align: left;

	margin-left: 0.2rem;
	border-radius: 0.2rem;
}.contextmenu > .context-menu-item > button.context-button:hover {
	color: #fff;
	background: rgb(166, 209, 235);
}.contextmenu > .context-menu-item > button.context-button:active {
	color: #333;
	background: #ddd;
}.contextmenu > .context-menu-item > button.context-button.colored-red:hover {
	background: rgb(237, 106, 95) !important;
}.contextmenu > .context-menu-item > .color-dot {
	height: 1rem;
	aspect-ratio: 1;

	border-radius: 0.2rem;
	outline: 0.1rem solid rgb(86, 86, 86);
}.context-menu-separator {
	width: 100%;
	height: 0.1rem;

	background: #eee;
	border-radius: 0.1rem;

	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

.item.text {
	width: auto;
	height: auto;

	box-sizing: border-box;
	padding: 0.5rem;
}.text-body {
	width: 100%;
	height: 100%;

	border: none;
	outline: none;

	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;

	color: #333;
	text-align: center;
	resize: both !important;
}.item.text > header > .stack, .item.text > header > .actions {
	position: absolute;
	display: none;
}.item.text:hover > header > .stack, .item.text:hover > header > .actions {
	display: inline-flex;
}.item.text > .resize {
	height: 100%;
	width: 100%;

	box-sizing: border-box;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

	min-width: 8rem;
	
}.item.text > .resize::-webkit-scrollbar {
	display: none;
}.item.text:hover > .resize {
	overflow-x: auto;
	resize: horizontal !important;
}

/*- Placing notes -*/
.note-place {
	width: 9.1rem;
	height: 7.1rem;

	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	border-radius: 0.75rem;
	border: 0.2rem dashed #ddd;
	backdrop-filter: blur(5px);

	left: 30rem;
	top: 20rem;
	position: absolute;

	box-sizing: border-box;
	padding: 0.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 100;

	transition: box-shadow 0.05s ease-in-out, backdrop-filter 0.05s ease-in-out;
}.note-place.active {
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2px);
}

/*- Selection tools -*/
.selection {
	background: rgba(34, 86, 242, 0.049);
	border: 0.1rem solid rgba(216, 222, 241, 0.5);
	position: absolute;
	z-index: 101;
}


/*- Edtor content -*/
.editor-content {
	background: #f8f8f8;
	width: 100%;
	height: 100%;

	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.main-wrapper {
	width: 100%;
	flex: 1;
	position: relative;
}

.watermark {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
	font-size: 10rem;

	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	margin: 0;
	padding: 0;

	opacity: 0.04;
	cursor: default;
	user-select: none;
}