/*- Variables -*/
:root {
	/* --main: #111;
	--main-1: #222;
	--main-2: #333;
	--main-3: #444;
	--main-4: #555;
	--main-5: #666;

	--text: #fff;
	--toolbar-btn: rgb(107, 216, 213); */
	--main: #fff;
	--main-1: #eee;
	--main-2: #ddd;
	--main-3: #aaa;
	--main-4: #888;
	--main-5: #333;

	--text: #000;
}

/*- Html elements -*/
html, body {
	margin: 0;
	padding: 0;
	background: var(--main);
	overflow-y: hidden;
	transition: background 0.3s ease;
}
h1 {
	color: var(--text);
}

/*- Navbar -*/
nav {
	width: 100vw;
	height: 4rem;
	background: var(--main);

	display: flex;
	flex-direction: row;
	position: relative;

	border-bottom: 1px solid var(--main-1);
	transition: background 0.3s ease;
}nav > div:first-of-type {
	flex: 1;
}nav > div {
	box-sizing: border-box;
	padding: 1rem 2rem;

	display: flex;
	align-items: center;
	transition: background 0.3s ease;
}nav > div > * {
	margin: 0;
	padding: 0;
}

/*- Nav link -*/
nav > div > button.text-link {
	padding: 0.5rem 1rem;

	color: var(--text);
	border-bottom: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	position: relative;

	background: var(--main);
	border: none;
}nav > div > button.text-link::after {
	content: "";
	display: block;
	width: 0;
	height: 1.5px;
	background: var(--text);
	transform: translateY(-0.1rem);

	transition: width 0.3s ease;
}nav > div > button.text-link:hover::after {
	width: 100%;
}

/*- Main container -*/
main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}main > .main {
	box-sizing: border-box;
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-template-rows: repeat(auto-fit, min(12rem));
	grid-gap: 1rem;
	padding: 1rem;
	overflow: hidden;

	flex: 1;
}

/*- Card -*/
main > .main > a { text-decoration: none; }
.card {
	border-radius: 0.1rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

	width: 100%;
	height: 100%;
	min-height: 12rem;
	position: relative;
	background: var(--main-1);
	outline: 0.1rem solid var(--main-2);

	box-sizing: border-box;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	padding-bottom: 0.2rem;

	transition: transform 0.05s ease;
}.card:hover {
	transform: scale(1.04);
	
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
	z-index: 4;
}.card > a {
	text-decoration: none;
	flex: 1;
}.card > a > .text {
	flex: 1;
}.card > a > .text > h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;

	margin: 0;
	padding: 0;
	user-select: none;
	color: var(--main-5);
}.card > a > .text > p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 1rem;

	margin: 0;
	padding: 0;

	color: var(--main-3);
	user-select: none;
}.card > footer {
	width: 100%;
	height: 2rem;

	border-top: 0.1rem var(--main-2) solid;
	display: flex;
	align-items: center;
}.card > footer > div {
	display: flex;
	flex-direction: row;
}.card > footer > div:hover {
	background: var(--main-2);
	border-radius: 0.2rem;
	outline: 2px solid var(--main-2);
}.card > footer > div > p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;

	margin: 0;
	padding: 0;

	color: var(--main-3);
	cursor:default;
}

/*- Classes -*/
.vertical-rule {
	width: 0.1rem;
	height: 60%;
	background: var(--main-2);

	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.icon { all: unset; }
.icon-margin { margin-right: 0.25rem; }

/*- Toolbar -*/
.toolbar-positioner {
	width: 4rem;
	height: auto;
	position: absolute;
	z-index: 1003;
}.toolbar {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	background: var(--main);

	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	box-sizing: border-box;
	padding: 0.5rem;

	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

	margin-left: 0.5rem;
	margin-top: 0.5rem;
	transition: background 0.3s ease;
}.toolbar > .toolbar-btn {
	width: 100%;
	aspect-ratio: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	cursor: pointer;

	background: var(--main);
	border-radius: 0.5rem;
	border: 0.1rem solid var(--main-1);
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
	transition: background 0.04s ease;
}.toolbar > .toolbar-btn:hover {
	background: var(--main-1);
}.toolbar > .toolbar-btn.active {
	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);

}.toolbar > .toolbar-btn > p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;

	margin: 0;
	padding: 0;

	color: var(--main-3);
	cursor:default;
}.toolbar > .toolbar-btn.behind {
	position: absolute;
	left: 4rem;
}

/*- Note items -*/
.item {
	width: min-content;
	height: min-content;

	background: var(--main);
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	border-radius: 0.75rem;
	border: 0.1rem solid var(--main-2);

	left: 30rem;
	top: 20rem;
	position: absolute;

	box-sizing: border-box;
	padding: 0.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	transition: background 0.3s ease;
}.item > .note-body {
	border: none;
	width: 100%;
	height: 100%;

	border-radius: 0.2rem;
	box-sizing: border-box;
	padding: 0.4rem;

	min-width: 8rem;
	min-height: 5rem;

	resize: both;
	max-width: 30rem;
	max-height: 30rem;
	background: var(--main);
	color: var(--text);
	transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}.item > header {
	display: flex;
	flex-direction: row;

	justify-content: center;
}.item > header > .stack {
	display: inline-flex;
	flex-direction: column;
	gap: 0.1rem;

	box-sizing: border-box;
	padding: 0.4rem;
	padding-top: 0;

	cursor: grab;
}.item > header > .stack > div {
	width: 2rem;
	height: 0.1rem;

	background: var(--main-1);
	border-radius: 0.1rem;
	transition: background 0.3s ease;
}.item > header > .actions {
	display: inline-flex;
	flex-direction: row;
	gap: 0.2rem;

	position: absolute;
	left: 0.4rem;
}.item > header > .actions > button {
	width: 0.6rem;
	height: 0.6rem;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: transform 0.1s ease-in-out;

	border: none;
	outline: none;
	display: block;
}.item > header > .actions > button:hover {
	transform: scale(1.2) rotate(32deg);
}.item > header > .actions > ._1 {
	background: rgb(237, 106, 95);
}.item > header > .actions > ._2 {
	background: rgb(245, 189, 79);
}.item > header > .actions > ._3 {
	background: rgb(97, 195, 84);
}.item > header > .actions > button:active {
	cursor: pointer;
	transform: scale(1) rotate(20deg);
}

/*- Contextmenu -*/
.contextmenu {
	width: 8rem;
	height: auto;

	position: absolute;

	display: inline-flex;
	flex-direction: column;
	align-items: center;

	box-sizing: border-box;
	padding: 0.5rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;

	background: var(--main);
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	border-radius: 0.75rem;
	border: 0.1rem solid var(--main-1);

	z-index: 20;
	transition: background 0.3s ease;
}.contextmenu > .context-menu-item {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;

	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}.contextmenu > .context-menu-item > button.context-button {
	background: var(--main);
	border: none;

	box-sizing: border-box;
	padding-left: 0.4rem;
	padding-right: 0.4rem;

	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;

	color: var(--main-2);
	width: 100%;
	text-align: left;

	margin-left: 0.2rem;
	border-radius: 0.2rem;
}.contextmenu > .context-menu-item > button.context-button:hover {
	color: var(--main);
	background: rgb(166, 209, 235);
}.contextmenu > .context-menu-item > button.context-button:active {
	color: var(--main-5);
	background: var(--main-1);
}.contextmenu > .context-menu-item > button.context-button.colored-red:hover {
	background: rgb(237, 106, 95) !important;
}.contextmenu > .context-menu-item > .color-dot {
	height: 1rem;
	aspect-ratio: 1;

	border-radius: 0.2rem;
	outline: 0.1rem solid var(--main-5);
}.context-menu-separator {
	width: 100%;
	height: 0.1rem;

	background: var(--main-1);
	border-radius: 0.1rem;

	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

.item.text {
	width: auto;
	height: auto;

	box-sizing: border-box;
	padding: 0.5rem;
	transition: background 0.3s ease;
}.text-body {
	width: 100%;
	height: 100%;

	border: none;
	outline: none;

	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;

	color: var(--text);
	text-align: center;
	resize: both !important;
	background: var(--main);
	transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}.item.text > header > .stack, .item.text > header > .actions {
	position: absolute;
	display: none;
}.item.text:hover > header > .stack, .item.text:hover > header > .actions {
	display: inline-flex;
}.item.text > .resize {
	height: 100%;
	width: 100%;

	box-sizing: border-box;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

	min-width: 8rem;
	
}.item.text > .resize::-webkit-scrollbar {
	display: none;
}.item.text:hover > .resize {
	overflow-x: auto;
	resize: horizontal !important;
}

/*- Placing notes -*/
.note-place {
	width: 9.1rem;
	height: 7.1rem;

	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	border-radius: 0.75rem;
	border: 0.2rem dashed var(--main-2);
	backdrop-filter: blur(5px);

	left: 30rem;
	top: 20rem;
	position: absolute;

	box-sizing: border-box;
	padding: 0.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 100;

	transition: box-shadow 0.05s ease-in-out, backdrop-filter 0.05s ease-in-out;
}.note-place.active {
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2px);
}

/*- Selection tools -*/
.selection {
	background: rgba(34, 86, 242, 0.049);
	border: 0.1rem solid rgba(216, 222, 241, 0.5);
	position: absolute;
	z-index: 101;
}

/*- Modal -*/
.modal {
	border-radius: 0.1rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
	background: var(--main-1);
	outline: 0.1rem solid var(--main-2);

	box-sizing: border-box;
	padding: 1rem;

	display: flex;
	flex-direction: column;

	width: 60%;
	height: 40%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	z-index: 1000;

	animation: modal-in 0.2s ease-in-out;
}.modal > .modal-content {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}.modal > .modal-content > div {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	gap: 0.4rem;
}.modal > .modal-content > div > input {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;

	color: var(--main-5);
	width: 100%;
	height: 3rem;

	border: 0.1rem solid var(--main-2);
	outline: none;
	border-radius: 0.2rem;

	box-sizing: border-box;
	padding: 1rem;
}.modal > .modal-content > div > input:focus {
	outline: 0.1rem solid #88f;
}.modal > .modal-content > div > button {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
	font-size: 1.2rem;

	color: var(--main);
	background: rgb(153, 224, 144);
	width: 100%;
	height: 3rem;

	border: none;
	outline: none;
	border-radius: 0.2rem;
	cursor: pointer;
}.modal > .modal-content > div > button:hover {
	background: rgb(153, 224, 144, 0.8);
}.modal > .modal-content > div > button:active {
	background: rgb(153, 224, 144, 0.6);
}.modal-blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 999;

	animation: modal-blur-in 0.2s ease-in-out forwards;
}

/*- Modal animations -*/
@keyframes modal-in {
	from {
		transform: translate(-50%, -50%) scale(0.9);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}
@keyframes modal-blur-in {
	from {
		backdrop-filter: blur(0px);
	}
	to {
		backdrop-filter: blur(5px);
	}
}

/*- Toast -*/
.toast {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	z-index: 1000;
	animation: toast-in 5s ease-in-out forwards;

	width: 18rem;
	height: 3rem;
	box-sizing: border-box;

	padding-bottom: 0;

	display: flex;
	flex-direction: column;

	border-radius: 0.75rem;
	background: var(--main);
	box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: background 0.3s ease;
}.toast > .content-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;

	box-sizing: border-box;
	padding: 0.5rem 1rem;
	padding-right: 0.5rem;
}.toast > .content-container > p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
	font-size: 1.2rem;

	color: var(--main-5);
	text-align: center;
	margin: 0;
	padding: 0;

	flex: 1;
	text-align: left;
	display: block;
}.toast > .content-container > button {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
	font-size: 1.2rem;

	color: var(--main);
	background: var(--main);
	aspect-ratio: 1;

	border: none;
	outline: none;
	border-radius: 0.2rem;
	cursor: pointer;

	display: flex;
	justify-content: center;
		align-items: center;

	opacity: 0.4;
}.toast > .content-container > button:hover {
	background: rgba(206, 206, 206, 0.8);
}.toast > .content-container > button:active {
	background: rgba(210, 210, 210, 0.6);
}.toast > .progress-bar {
	width: 0%;
	height: 0.2rem;
	background: rgb(237, 106, 95);

	animation: toast-progress 4.75s linear forwards;
}

/*- Toast animations -*/
@keyframes toast-in {
	0% {
		transform: translate(-50%, 50%);
		opacity: 0;
	}
	5% {
		transform: translate(-50%, 0);
		opacity: 1;
	}
	95% {
		transform: translate(-50%, 0);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, 50%);
		opacity: 0;
	}
}
@keyframes toast-progress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

/*- Save button -*/
.save-button {
	position: absolute;
	bottom: 1rem;
	left: 1rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: 3rem;
	height: 3rem;

	border: none;
	outline: none;
	border-radius: 0.5rem;
	cursor: pointer;

	background: var(--main-1);
	box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}.save-button:hover {
	background: rgba(206, 206, 206, 0.8);
}.save-button:active {
	background: rgba(210, 210, 210, 0.6);
}.save-button > * {
	opacity: 0.5;
}.save-button.warning {
	animation: warning 2s ease-in-out forwards;
}

@keyframes warning {
	from { background: rgb(237, 106, 95); }
	to { background: var(--main-1); }
}

.hr {
	width: 100%;
	height: 0.1rem;
	background: var(--main-1);

	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

/*- Edtor content -*/
.editor-content {
	background: var(--main-1);
	width: 100%;
	height: 100%;

	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
	overflow-y: hidden;
	transition: background 0.3s ease;
}

/*- Login -*/
.account-modal {
	width: 60vw;
	height: max-content;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;

	border-radius: 1.5rem;
	background: var(--main);
	box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
	border: 0.1rem solid var(--main-1);

	box-sizing: border-box;
	padding: 1rem;
	position: relative;
	z-index: 1000;

	animation: modal-in 0.2s ease-in-out;
}.account-modal > h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
	font-size: 3rem;

	color: var(--main-5);
	text-align: center;
	margin: 0;
	padding: 0;

	margin-bottom: 1rem;
}.account-modal > .input-container {
	width: 100%;
	border: 0.1rem solid var(--main-1);

	display: inline-flex;
	flex-direction: column;
	gap: 1rem;

	border-radius: 0.75rem;
	background: var(--main);
	box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);

	box-sizing: border-box;
	padding: 1rem;
}.account-modal > .input-container > input {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
	font-size: 1.2rem;

	color: var(--main-5);
	text-align: center;
	margin: 0;
	padding: 0;

	width: 100%;
	height: 3rem;

	border: none;
	outline: none;
	border-radius: 0.5rem;
	cursor: pointer;

	background: var(--main-1);
	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
	text-align: left;
	box-sizing: border-box;
	padding: 0.5rem 2rem;
}.account-modal > .input-container > input:hover {
	background: rgba(206, 206, 206, 0.8);
}.account-modal > .input-container > input:active {
	background: rgba(210, 210, 210, 0.6);
}.account-modal > .input-container > input:focus {
	background: rgba(210, 210, 210, 0.6);
}.account-modal > .input-container > input::placeholder {
	color: var(--main-5);
}.account-modal > .input-container > button {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;
	font-size: 1.2rem;

	color: var(--main-5);
	text-align: center;
	margin: 0;
	padding: 0;

	width: 100%;
	height: 3rem;

	border: none;
	outline: none;
	border-radius: 0.5rem;
	cursor: pointer;

	background: var(--main-1);
	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
}.account-modal > .input-container > button:hover {
	background: rgb(97, 195, 84);
	color: white;
}.account-modal > .input-container > button:active {
	background: rgb(87, 182, 74);
	color: white;
}

/*- Calculator -*/
.calculator-container {
	display: inline-flex;
	flex-direction: column;
	gap: 0.5rem;
}.calculator-container > .display {
	width: 100%;
	height: 3rem;
	border-radius: 0.5rem;
	cursor: pointer;

	background: var(--main-1);
	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);

	box-sizing: border-box;
	padding: 0.5rem 1rem;

	display: flex;
	align-items: center;
	color: var(--main-4);
}.calculator-container > .display > p {
	padding: 0;
	margin: 0;
}.calculator-container > .buttons {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 0.5rem;
	
}.calculator-container > .buttons > .row {
	display: inline-flex;
	gap: 0.5rem;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}.calculator-container > .buttons > .row > button {
	width: 3rem;
	height: 3rem;

	border: none;
	outline: none;

	border-radius: 0.5rem;
	cursor: pointer;

	background: var(--main-1);
	box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
	
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 800;

	display: flex;
	justify-content: center;
		align-items: center;
}.calculator-container > .buttons > .row > button.wide {
	width: calc(6rem + 0.5rem);
}.calculator-container > .buttons > .row > button:hover {
	background: rgb(87, 182, 74);
}.calculator-container > .buttons > .row > button:active {
	background: rgb(77, 169, 64);
}.calculator-container > .buttons > .row > button.number > * {
	opacity: 0.4;
}

.main-wrapper {
	width: 100%;
	flex: 1;
	position: relative;
	overflow: hidden;
	transition: background 0.3s ease;
}

.watermark {
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: 30vw;

	margin: 0;
	padding: 0;

	opacity: 0.04;
	cursor: default;
	user-select: none;
}

.add-icon-container {
	left: 50%;
	top: 50%;

	position: absolute;
	transform: translate(-50%, -50%);

	opacity: 0.4;

	display: flex;
	justify-content: center;
		align-items: center;
	flex-direction: column;
	transition: background 0.3s ease;
}.add-icon-container > p {
	margin: 0;
	padding: 0;

	user-select: none;
	color: var(--text);
}

body{
	counter-reset: element;
}

.ptable-container {
	width: auto;
	height: auto;
	display: grid;
	gap: .4rem;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(9, 1fr); 
}
.ptable-container > .ptable-element {
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--main-2);
	border-radius: .3rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}.ptable-container > .ptable-element:before{
	counter-increment: element;
	content: counter(element);
	position: absolute;
	font-size: .8rem;
	font-family: "Roboto Condensed";
	font-weight: 300;
	color: var(--main-5);
	right: .2rem;
	top: .1rem;
	letter-spacing: -1px;
}.ptable-container > .ptable-element:after{
	content: attr(element);
	font-size: 1.5rem;
	font-family: "Roboto Condensed";
	font-weight: 800;
	display: inline-block;
	position: absolute;
	color: var(--text);
	left: 50%;
	transform: translateX(-50%);
}.ptable-container > .ptable-element.t1{ background-color: #96ff9d; }
.ptable-container > .ptable-element.t2{ background-color: #e5bde5; }
.ptable-container > .ptable-element.t3{ background-color: #eace5d; }
.ptable-container > .ptable-element.t4{ background-color: #f1f165; }
.ptable-container > .ptable-element.t5{ background-color: #9ee5d4; }
.ptable-container > .ptable-element.t6{ background-color: #acdfec; }
.ptable-container > .ptable-element.t7{ background-color: #fac5b7; }
.ptable-container > .ptable-element.t8{ background-color: #eeeeee; }
.ptable-container > .ptable-element.t9{ background-color: #e8d19c; }
.ptable-container > .ptable-element.t10{ background-color: #f5ccda; }


.ptable-container > .ptable-element > .ptable-element-name{
	position: absolute;
	bottom: 0;
	margin: 0; padding: 0;
	font-size: 0.6rem;
	font-family: "Roboto Condensed";
}


.ptable-container > .ptable-element:nth-child(2) {/*Helium to be set apart*/
	grid-column-start: 18; 
}
.ptable-container > .ptable-element:nth-child(5), .ptable-container > .ptable-element:nth-child(13) {
	grid-column-start: 13;
}
.ptable-container > .ptable-element#Tm, .ptable-container > .ptable-element#Ce {
	grid-column-start: 4;
}
.ptable-container > .ptable-element:nth-child(n+58):nth-last-child(n+48) {
	grid-row-start: 8;
}.ptable-container > .ptable-element:nth-child(n+90):nth-last-child(n+16) {
	grid-row-start: 9;
}.ptable-container:before{
	display: block;
	content: '';
	grid-row: 8 / 10;
	grid-column: 1 / 4;  
}